In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Add the cCSV into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Opuwo,NaN,2021-03-19 16:45:38,-18.0607,13.8400,78.12,60,68,3.27
1,1,Udimskiy,RU,2021-03-19 16:45:38,61.1417,45.9144,20.12,94,100,5.91
2,2,Berlevag,NO,2021-03-19 16:45:39,70.8578,29.0864,24.80,80,20,41.43
3,3,Norman Wells,CA,2021-03-19 16:45:39,65.2820,-126.8329,-4.00,77,75,21.85
4,4,Patitirion,GR,2021-03-19 16:45:39,39.1500,23.8667,51.80,82,75,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# #     locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
#         temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
#         fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#         heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
#         fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
#         fig

In [7]:
# Get the max temps in case their is a negative temp
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [ ]:
# #1. 
# locations = city_data_df[["Lat", "Lng"]]
# #2. Assign max temp
# max_temp = city_data_df["Max Temp"]
# #3. Assign the fig variable to the gmaps.figure() attibute
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
# #4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# #4b. replacing the aboove heat layer instead of the for loop
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# #5. Add the heatmap layer
# fig.add_layer(heat_layer)
# #6. call the figure to plot the data
# fig

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and a maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [38]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Opuwo,NaN,2021-03-19 16:45:38,-18.0607,13.8400,78.12,60,68,3.27
9,9,Kavaratti,IN,2021-03-19 16:45:41,10.5669,72.6420,83.35,71,2,8.28
13,13,Butaritari,KI,2021-03-19 16:45:43,3.0707,172.7902,80.98,80,100,11.21
14,14,Nata,PA,2021-03-19 16:45:43,8.3333,-80.5167,84.20,74,40,9.22
18,18,Avarua,CK,2021-03-19 16:45:44,-21.2078,-159.7750,77.00,88,90,3.44
21,21,Santa Maria,BR,2021-03-19 16:42:05,-29.6842,-53.8069,80.60,65,20,14.97
22,22,Metro,ID,2021-03-19 16:45:46,-5.1131,105.3067,75.40,91,77,7.23
24,24,Mahebourg,MU,2021-03-19 16:45:47,-20.4081,57.7000,78.80,78,40,6.91
26,26,Peravurani,IN,2021-03-19 16:45:47,10.3000,79.1833,77.86,76,36,7.96
33,33,Arraial Do Cabo,BR,2021-03-19 16:45:50,-22.9661,-42.0278,89.60,65,20,10.36

In [39]:
preferred_cities_df.count()

City_ID       196
City          196
Country       195
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Opuwo     NaN     78.12 -18.0607   13.8400
9         Kavaratti      IN     83.35  10.5669   72.6420
13       Butaritari      KI     80.98   3.0707  172.7902
14             Nata      PA     84.20   8.3333  -80.5167
18           Avarua      CK     77.00 -21.2078 -159.7750
21      Santa Maria      BR     80.60 -29.6842  -53.8069
22            Metro      ID     75.40  -5.1131  105.3067
24        Mahebourg      MU     78.80 -20.4081   57.7000
26       Peravurani      IN     77.86  10.3000   79.1833
33  Arraial Do Cabo      BR     89.60 -22.9661  -42.0278

In [42]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Import dependecies
import requests
import gmaps
from config import g_key

In [52]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to serach for hotels in Paris
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels = requests.get(base_url, params=params).json()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [45]:
len(hotels["results"])

20

In [56]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Opuwo,NaN,78.12,-18.0607,13.8400,ABBA Guesthouse
9,Kavaratti,IN,83.35,10.5669,72.6420,Hotels in Lakshadweep Islands
13,Butaritari,KI,80.98,3.0707,172.7902,Isles Sunset Lodge
14,Nata,PA,84.20,8.3333,-80.5167,Cabañas Estancia Bayamon
18,Avarua,CK,77.00,-21.2078,-159.7750,Paradise Inn
21,Santa Maria,BR,80.60,-29.6842,-53.8069,Hotel Morotin
22,Metro,ID,75.40,-5.1131,105.3067,OYO 3177 Wisma Lintang
24,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
26,Peravurani,IN,77.86,10.3000,79.1833,STD Lodge
33,Arraial Do Cabo,BR,89.60,-22.9661,-42.0278,Pousada Porto Praia

In [63]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [65]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))