## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bayji,IQ,34.9311,43.4870,67.87,62,95,12.21,overcast clouds
1,1,Mataura,NZ,-46.1927,168.8643,53.01,98,100,1.43,overcast clouds
2,2,Polunochnoye,RU,60.8697,60.4153,16.45,94,87,4.74,overcast clouds
3,3,Mahebourg,MU,-20.4081,57.7000,80.60,89,75,6.91,broken clouds
4,4,Meridian,US,43.6121,-116.3915,44.01,75,1,18.41,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 75
What is your maximum temperature preference?
max_temp: 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mahebourg,MU,-20.4081,57.7000,80.60,89,75,6.91,broken clouds
14,14,Vila Velha,BR,-20.3297,-40.2925,87.80,62,20,10.36,few clouds
15,15,Atuona,PF,-9.8000,-139.0333,80.65,67,14,20.18,few clouds
19,19,Hervey Bay,AU,-25.2986,152.8535,78.01,92,92,5.01,light rain
21,21,Imbituba,BR,-28.2400,-48.6703,82.40,65,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Thanyaburi,TH,14.0211,100.7343,90.00,58,20,4.61,few clouds
681,681,Santo Augusto,BR,-27.8508,-53.7772,82.40,74,75,8.05,broken clouds
688,688,Santa Rosa,PH,14.3122,121.1114,82.40,74,75,6.91,broken clouds
691,691,Huarmey,PE,-10.0681,-78.1522,76.96,69,97,12.50,overcast clouds
692,692,Lakheri,IN,25.6667,76.1667,75.47,35,57,3.80,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mahebourg,MU,-20.4081,57.7000,80.60,89,75,6.91,broken clouds
14,14,Vila Velha,BR,-20.3297,-40.2925,87.80,62,20,10.36,few clouds
15,15,Atuona,PF,-9.8000,-139.0333,80.65,67,14,20.18,few clouds
19,19,Hervey Bay,AU,-25.2986,152.8535,78.01,92,92,5.01,light rain
21,21,Imbituba,BR,-28.2400,-48.6703,82.40,65,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Thanyaburi,TH,14.0211,100.7343,90.00,58,20,4.61,few clouds
681,681,Santo Augusto,BR,-27.8508,-53.7772,82.40,74,75,8.05,broken clouds
688,688,Santa Rosa,PH,14.3122,121.1114,82.40,74,75,6.91,broken clouds
691,691,Huarmey,PE,-10.0681,-78.1522,76.96,69,97,12.50,overcast clouds
692,692,Lakheri,IN,25.6667,76.1667,75.47,35,57,3.80,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mahebourg,MU,80.60,broken clouds,-20.4081,57.7000,
14,Vila Velha,BR,87.80,few clouds,-20.3297,-40.2925,
15,Atuona,PF,80.65,few clouds,-9.8000,-139.0333,
19,Hervey Bay,AU,78.01,light rain,-25.2986,152.8535,
21,Imbituba,BR,82.40,broken clouds,-28.2400,-48.6703,
22,Avarua,CK,80.60,light rain,-21.2078,-159.7750,
28,Progreso,MX,90.00,scattered clouds,21.2833,-89.6667,
33,Cape Town,ZA,78.01,clear sky,-33.9258,18.4232,
35,Souillac,MU,80.60,broken clouds,-20.5167,57.5167,
36,Rikitea,PF,79.21,light rain,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotels_names = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean_hotels_names.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mahebourg,MU,80.60,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Vila Velha,BR,87.80,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha
15,Atuona,PF,80.65,few clouds,-9.8000,-139.0333,Villa Enata
19,Hervey Bay,AU,78.01,light rain,-25.2986,152.8535,Shelly Bay Resort
21,Imbituba,BR,82.40,broken clouds,-28.2400,-48.6703,Praia Hotel Imbituba
...,...,...,...,...,...,...,...
676,Thanyaburi,TH,90.00,few clouds,14.0211,100.7343,Hotel RIDE 'n Lazy @ Thai Wake Park
681,Santo Augusto,BR,82.40,broken clouds,-27.8508,-53.7772,Hotel Marco Polo
688,Santa Rosa,PH,82.40,broken clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
691,Huarmey,PE,76.96,overcast clouds,-10.0681,-78.1522,Hotel Miramar
692,Lakheri,IN,75.47,broken clouds,25.6667,76.1667,Swastik gas agency lakheri

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(-5.0, 10.0), zoom_level=2.2)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))