In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Add the cCSV into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Opuwo,NaN,2021-03-19 16:45:38,-18.0607,13.8400,78.12,60,68,3.27
1,1,Udimskiy,RU,2021-03-19 16:45:38,61.1417,45.9144,20.12,94,100,5.91
2,2,Berlevag,NO,2021-03-19 16:45:39,70.8578,29.0864,24.80,80,20,41.43
3,3,Norman Wells,CA,2021-03-19 16:45:39,65.2820,-126.8329,-4.00,77,75,21.85
4,4,Patitirion,GR,2021-03-19 16:45:39,39.1500,23.8667,51.80,82,75,8.05

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [11]:
# Get the max temps in case their is a negative temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# # 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# # 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# # 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#1. 
locations = city_data_df[["Lat", "Lng"]]
#2. Assign max temp
max_temp = city_data_df["Max Temp"]
#3. Assign the fig variable to the gmaps.figure() attibute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#4b. replacing the aboove heat layer instead of the for loop
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#5. Add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and a maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?95

In [19]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Opuwo,NaN,2021-03-19 16:45:38,-18.0607,13.8400,78.12,60,68,3.27
6,6,Busselton,AU,2021-03-19 16:45:40,-33.6500,115.3333,70.66,55,89,6.91
8,8,Inirida,CO,2021-03-19 16:45:41,3.8653,-67.9239,91.40,54,90,1.36
9,9,Kavaratti,IN,2021-03-19 16:45:41,10.5669,72.6420,83.35,71,2,8.28
13,13,Butaritari,KI,2021-03-19 16:45:43,3.0707,172.7902,80.98,80,100,11.21
14,14,Nata,PA,2021-03-19 16:45:43,8.3333,-80.5167,84.20,74,40,9.22
18,18,Avarua,CK,2021-03-19 16:45:44,-21.2078,-159.7750,77.00,88,90,3.44
21,21,Santa Maria,BR,2021-03-19 16:42:05,-29.6842,-53.8069,80.60,65,20,14.97
22,22,Metro,ID,2021-03-19 16:45:46,-5.1131,105.3067,75.40,91,77,7.23
24,24,Mahebourg,MU,2021-03-19 16:45:47,-20.4081,57.7000,78.80,78,40,6.91

In [20]:
preferred_cities_df.count()

City_ID       251
City          251
Country       249
Date          251
Lat           251
Lng           251
Max Temp      251
Humidity      251
Cloudiness    251
Wind Speed    251
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0         Opuwo     NaN     78.12 -18.0607   13.8400
6     Busselton      AU     70.66 -33.6500  115.3333
8       Inirida      CO     91.40   3.8653  -67.9239
9     Kavaratti      IN     83.35  10.5669   72.6420
13   Butaritari      KI     80.98   3.0707  172.7902
14         Nata      PA     84.20   8.3333  -80.5167
18       Avarua      CK     77.00 -21.2078 -159.7750
21  Santa Maria      BR     80.60 -29.6842  -53.8069
22        Metro      ID     75.40  -5.1131  105.3067
24    Mahebourg      MU     78.80 -20.4081   57.7000

In [22]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Import dependecies
import requests
import gmaps
from config import g_key

In [24]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to serach for hotels in Paris
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels = requests.get(base_url, params=params).json()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [25]:
len(hotels["results"])

20

In [26]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0         Opuwo     NaN     78.12 -18.0607   13.8400
6     Busselton      AU     70.66 -33.6500  115.3333
8       Inirida      CO     91.40   3.8653  -67.9239
9     Kavaratti      IN     83.35  10.5669   72.6420
13   Butaritari      KI     80.98   3.0707  172.7902
14         Nata      PA     84.20   8.3333  -80.5167
18       Avarua      CK     77.00 -21.2078 -159.7750
21  Santa Maria      BR     80.60 -29.6842  -53.8069
22        Metro      ID     75.40  -5.1131  105.3067
24    Mahebourg      MU     78.80 -20.4081   57.7000

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))